<% content_for :title, "New Poem" %>

<h1 id="page_title">Editing Poem</h1>

<div class="skinny_wrapper wrapper_padding">
<%= render 'form', poem: @poem %>

<div id="admin_links">
<%= link_to 'Show', @poem %> |
<%= link_to 'Back', poems_path %>
</div>
</div> 