<% content_for :title, "New Diary" %>

<h1 id="page_title">Editing Diary</h1>

<div class="skinny_wrapper wrapper_padding">
<%= render 'form', diary: @diary %>

<div id="admin_links">
<%= link_to 'Show', @diary %> |
<%= link_to 'Back', diaries_path %>
</div>
</div>