<% content_for :title, "Young Researcher" %>
<div class="wrapper wrapper_padding clearfix">
	<div class="col-1">
		<img src="<%= asset_path( 'me.jpg' ) %>" alt="Profile Photo" class="profile_image"/>
	</div>
	<div class="col-2 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>Hi, I am Young Researcher! Currently study on a Bachelor of Computer Science in Busan, South Korea.</p>
		<p>I love collecting and analysing large amount of data, hence I have started this site.</p>
		<p>Here I share the thoughts came from my experience, publish my poems and research an ideas, results of which you can find in Question, Clarify, Explore sections.</p>
		<p>Follow me on Instagram, Twitter, Facabook, Vkontakte, Google Plus and Youtube.</p>
		<p><mark>Site is currently under development</mark></p>
	</div>
</div>
