<% content_for :title, "Young Researcher" %>
<div class="wrapper wrapper_padding clearfix">
	<div class="col-1 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>Hi, I am Young Researcher! Currently "studying" for a Bachelor Degree in Busan, South Korea.</p>
		<p>I love collect and analyse big scope of data. That is the reason I have started this site.</p>
		<p>You can read the articles here in your free time. I try to share the knowledge which I find crusial in Intellectual's development.</p>
		<p>Follow me on Instagram, Twitter, Facabook, Vk and Youtube</p>
	</div>
	<div class="col-2 homepage_content">
		<h2>Clarifies</h2>
		<hr>
		<% @clarifies.each do |clarify| %>
			<h3><a href="#"><%= link_to clarify.title, clarify %></a></h3>
			<p class="date"><%= clarify.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Questions</h2>
		<hr>
		<% @questions.each do |question| %>
			<h3><a href="#"><%= link_to question.title, question %></a></h3>
			<p class="date"><%= question.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>

</div>