<% content_for :title, "Young Researcher" %>
<div class="wrapper wrapper_padding clearfix">
	<div class="col-1">
		<img src="<%= asset_path( 'me.jpg' ) %>" alt="Profile Photo" class="profile_image"/>
	</div>
	<div class="col-2 about homepage_content">
		<h2>About</h2>
		<hr>
		<p>Hi, I am Young Researcher and a first year full-time student majoring in Computer Science and Electrical Engineering in Pusan National University, Busan, South Korea.</p>
		<p>About a year ago I have gotten curious about secondary education and realized that I can contribute to the process of learning.</p>
		<p>I post an abstracts on the subject of education read in articles, research or any other reliable sources of information.</p>
		<p><mark>Site is currently under development</mark></p>
	</div>
</div>
