<% content_for :title, "Edit Clarify" %>

<h1 id="page_title">Editing Clarify</h1>

<div class="skinny_wrapper wrapper_padding">
<%= render 'form', clarify: @clarify %>

<%= link_to 'Show', @clarify %> |
<%= link_to 'Back', clarifies_path %>
</div>