<% content_for :title, "New Clarify" %>

<h1 id="page_title">New Clarify</h1>

<div class="skinny_wrapper wrapper_padding">
<%= render 'form', clarify: @clarify %>

<div id="admin_links">
<%= link_to 'Back', clarifies_path %>
</div>
</div>