<% content_for :title, "Young Researcher's Stories" %>

<h1 id="page_title">Stories</h1>

<div id="posts_wrapper" class="skinny_wrapper wrapper_padding">
  <div class="post">
    <% @stories.each do |story| %>
      <h2><%= link_to story.title, story %></h2>
      <p class="date"><%= story.created_at.strftime("%A, %B %d") %></p>
      <hr>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <div id="admin_links">
    <%= link_to 'New Story', new_story_path %>
  </div>
<% end %>

<%= will_paginate @stories %>
