<% content_for :title, "New Story" %>

<h1 id="page_title">New Story</h1>

<div class="skinny_wrapper wrapper_padding">

<%= render 'form', story: @story %>

<div id="admin_links">
<%= link_to 'Back', stories_path %>
</div>

</div>