<% content_for :title, "New Explore" %>

<h1 id="page_title">Editing Explore</h1>

<div class="skinny_wrapper wrapper_padding">
<%= render 'form', explore: @explore %>

<div id="admin_links">
<%= link_to 'Show', @explore %> |
<%= link_to 'Back', explores_path %>
</div>
</div>