<% content_for :title, "Young Researcher Explores" %>

<h1 id="page_title">Explores</h1>

<div id="posts_wrapper" class="skinny_wrapper wrapper_padding">
  <div class="post">
    <% @explores.each do |explore| %>
      <h2><%= link_to explore.title, explore %></h2>
      <p class="date"><%= explore.created_at.strftime("%A, %B %d") %></p>
      <hr>
    <% end %>
  </div>
</div>

<% if user_signed_in? %>
  <div id="admin_links">
    <%= link_to 'New Explore', new_explore_path %>
  </div>
<% end %>

<%= will_paginate @explores %>
